<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../node_modules/angular/angular.js"></script>
</head>
<body ng-app="hApp" ng-controller="hController">

<pre>
  {{friends|json}}
</pre>

<pre>
  {{friends|json:8}}
</pre>


<p>{{text|limitTo:2}}</p>



<label>Any: <input ng-model="search.$"></label> <br>
<label>Name only <input ng-model="search.name"></label><br>
<label>Phone only <input ng-model="search.phone"></label><br>
<label>Equality <input type="checkbox" ng-model="strict"></label><br>
<table id="searchObjResults">
    <tr><th>Name</th><th>Phone</th></tr>
    <tr ng-repeat="friendObj in friends | filter:search:strict">
        <td>{{friendObj.name}}</td>
        <td>{{friendObj.phone}}</td>
    </tr>
</table>
<script type="text/javascript">
    var module = angular.module("hApp", []);
    module.controller("hController", ["$scope", "$filter", function ($scope, $filter) {
        $scope.text="weijian_shujun";
        $scope.friends = [{name: 'John', phone: '555-1276'},
            {name: 'Mary', phone: '800-BIG-MARY'},
            {name: 'Mike', phone: '555-4321'},
            {name: 'Adam', phone: '555-5678'},
            {name: 'Julie', phone: '555-8765'},
            {name: 'Juliette', phone: '555-5678'}]
    }]);
</script>
</body>
</html>